html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: black
}

#button {
    color: #805500
}

body {
  margin-bottom: 30px;
    background-color: black
}
#title {
    color: #805500
}

.form-control {
    background-color: dimgray
}

.card {
    background-color: black
}

p {
    color: #805500
}