html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: black
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black
}

footer {
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel {
    width: 45%;
    height: auto;
}

#button {
    color: #805500
}

#title {
    color: #805500
}

.form-control {
    background-color: dimgray
}

.card {
    background-color: black
}

p {
    color: #805500
}

hr {
    color:aliceblue
}

h1 {
    color: #805500
}

h2 {
    color: #805500
}

h3 {
    color: #805500
}