@model CommentViewModel

@{
    ViewData["Title"] = "Добавяне на коментар";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<form asp-controller="Comment" asp-action="Add" method="post" class="mb-3">
    @Html.HiddenFor(m => m.PictureId)
    <div class="form-group card-header row">
        <div class="col-12">
        </div>
        <div class="col-8">
            <p></p>
            <label>Вашето име: </label>
            <input asp-for="Username" class="form-control">
        </div>
        <p></p>
        <div class="col-8">
            <p></p>
            <label>Съобщение: </label>
            <textarea asp-for="Content" class="form-control" rows="5"></textarea>
            <p></p>
            <input class="btn btn-primary mt-2 float-lg-right" type="submit" value="Изпрати" asp-route-id="@Model.PictureId" />
        </div>
    </div>
</form>