@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "All Users";
}
<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />
<table class="table table-striped">
    <thead>
    <tr>
        <th><p>Id</p></th>
        <th><p>Email</p></th>
        <th><p>Orders</p></th>
        <th><p>User Is Admin</p></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td><p>@user.Id</p></td>
            <td><p>@user.Email</p></td>
            <td><p>@user.Email</p></td>
            <td>
                    @if (user.Email.Contains("admin"))
                {
                    <label>✔</label>
                }
                else
                {
                    <label class="text-center">❌</label>
                }
            </td>
        </tr>
    }
    </tbody>
</table>