@{
    ViewData["Title"] = "За мен и моето творчество.";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-5">
            <img class="card-img-top" style="width: 30rem;"
                 src="/lib/images/profilePicture.jpg" alt="Picture Image">
        </div>
        <div class="card col-6 border-0">
            <p class="h4">Здравейте! Казвам се Петя Миткова, работя в детска градина и обичам да рисувам 
                от както се помня. Благодарна съм, че към този момент имам свободата да творя 
                без никакви граници и притеснения. В момента уча предучилищна педагогика и 
                методика на изобразителната дейност в ДГ. За мен работата с деца в предучилищна 
                възраст е магия. Организирам Арт класове за деца, в които заобиколени от изкуство, 
                в атмосфера, която ни предразполага, с децата обсъждаме различни теми, споделяме 
                истории и се забавляваме. Като всеки  артист аз мечтая да създам свое ателие, 
                в което всички да могат да се докоснат до изкуството ми.</p>
        </div>
    </div>
</div>