@{
    ViewData["Title"] = "За мен и моето творчество.";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-5">
            <img class="card-img-top" style="width: 30rem;"
                 src="/lib/images/profilePicture.jpg" alt="Picture Image">
        </div>
        <div class="card col-6 border-0">
            <p class="h4">Казвам се Петя Георгиева Миткова.
                Родена съм в град Варна през 1987 година.
                Завършила ПГ по химични и хранително-вкусови технологии „Д. И. Менделеев“,
                сега следвам Предучилищна Педагогика в Шуменския Университет.</p>
        </div>
    </div>
</div>