@{
    ViewData["Title"] = "Възникна грешка";
}

<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-12">
                <img src="https://img.freepik.com/free-vector/401-error-unauthorized-concept-illustration_114360-1903.jpg?w=826&t=st=1690105351~exp=1690105951~hmac=8babae70138a466d9e16a412e6866f2b77c2099ad93ed217f40f8955de7ecd75" alt="Alternative image" class="img-thumbnail">
                <p></p>
                <div class="text-left h4">
                    <p>Оп-па, Нямате достъп до тази функция.</p>
                    <p>Ограничена страницата.</p>
                </div>
                <div class="text-left h4"><a asp-area="" asp-controller="Home" asp-action="Index">Върни се на главната страница</a></div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>