@*@{
    ViewData["Title"] = "Възникна грешка";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<p></p>
<h2 class="text-danger">Възникна грешка във Вашaта заявка.</h2>
<br />
<br />
<div class="text-left h4"><a asp-controller="Home" asp-action="Index">Върни се на главната страница</a></div>*@