@{
    ViewData["Title"] = "Възникна грешка";
}

<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-12">
                <img src="https://img.freepik.com/free-vector/404-error-with-cute-animal-concept-illustration_114360-1900.jpg?w=900&t=st=1689266590~exp=1689267190~hmac=342010a8f3f691ad3837e0a74618528fde75d25185f3d4242038758308a416d5" alt="Alternative image" class="img-thumbnail">
                <p></p>
                <div class="text-left h4">
                    <p>Оп-па, възникна грешка с адреса.</p>
                    <p>Страницата не е намерена.</p>
                </div>
                <div class="text-left h4"><a asp-controller="Home" asp-action="Index">Върни се на главната страница</a></div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>