@model OrderAPictureFormModel

@{
    ViewData["Title"] = "Поръчване на картина";
}

<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />
@using (Html.BeginForm("Add", "OrderAPicture", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <div class="row">
            <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">

                <div class="mb-3">
                    <label id="title" asp-for="Fullname" class="form-label">Име и фамилия</label>
                    <input asp-for="Fullname" class="form-control" aria-required="true" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label id="title" asp-for="PhoneNumber" class="form-label">Телефонен номер</label>
                    <input asp-for="PhoneNumber" class="form-control" aria-required="true" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label id="title" asp-for="Size" class="form-label">Размер на картината</label>
                    <input asp-for="Size" class="form-control" aria-required="true" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label id="title" asp-for="Material" class="form-label">Материал/боя</label>
                    <input asp-for="Material" class="form-control" aria-required="true" />
                    <span asp-validation-for="Material" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label id="title" asp-for="ImageBase" class="form-label">Основата на картината</label>
                    <input asp-for="ImageBase" class="form-control" aria-required="true" />
                    <span asp-validation-for="ImageBase" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label id="title" asp-for="Description" class="form-label">Описание на картината</label>
                    <input asp-for="Description" class="form-control" aria-required="true" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div id="title">
                        @Html.LabelFor(m => m.Image)
                        @Html.TextBoxFor(m => m.Image, new { type = "file" })
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <input class="btn btn-secondary" type="submit" value="Запази" />
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <p id="title" class="p4">Услугата е достъпна само за регистрирани потребители.</p>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрирайте нов профил.</a>
            <p></p>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Влезте в профила си.</a>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}