@model AddAndEditPictureViewModel
@{
    ViewData["Title"] = "Добавяне на картина";
}

<h2 id="title" class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AddAndEditFormView" model="Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}